<div id="<%= dom_id entry %>">
  <p>
    <strong>Date:</strong>
    <%= entry.date %>
  </p>

  <p>
    <strong>Todo:</strong>
    <%= entry.todo %>
  </p>

  <p>
    <strong>Fun:</strong>
    <%= entry.fun %>
  </p>

  <p>
    <strong>Grateful:</strong>
    <%= entry.grateful %>
  </p>

</div>
